header{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 130px;
    background-color: rgb(121, 29, 29);
}
.btn1{
    height: 20px;
    background-color: rgb(190, 24, 24);
    border: black solid 1px;
    color:white;
}
input{
    height: 20px;
    background-color: rgb(190, 24, 24);
    border: black solid 1px;
    color: white;
}
.sear{
    line-height: 12;
    padding-right: 15px;
}
.til{
    padding-left: 25px;
    color: white;
}
h1{
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: rgb(36, 36, 36);
    border-top: grey solid 1px;
}
.ul1{
    list-style-type:none ;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.li1{
    color:white;
    padding: 5px;
    padding-left: 45px;
    padding-right: 45px;
}
.li1:hover{
    background-color: rgb(88, 88, 88);
    border-radius:20px; 
}
aside{
    width: 20%;
    padding: 20px;
}
section{
    width: 60%;
    padding: 30px;
}
.btnp{
    text-align: end;
}
.btn2{
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border:black solid 1px;
    border-radius: 8px;
}
h2{
    color: yellow;
}
u{
    color: yellow;
}
p{
    color: white;
}
.cimg{
    text-align: center;
    align-items: center;
}
.imgprin{
    width: 80%;
    border: white solid 2px;
}
article{
    width: 100%;
    height: auto;
    background-color: rgb(39, 39, 39);
    display: flex;
}
b{
    color: white;
}
li{
    color: white;
}
.conab{
   width: 25%;
   padding: 30px; 
}
footer{
    background-color: rgb(19, 19, 19);
    text-align: center;
    padding: 25px;
}
.divfo{
    padding-left: 15px;
    padding-right: 15px;
    border-left: white solid 1px;
}
.divf{
    padding-left: 15px;
    padding-right: 15px;
}
.ul2{
    list-style-type:none ;
    display: flex;
    justify-content: center;
}
